# Ignorar entornos virtuales
.venv
.venv-1

# Ignorar compilaciones y archivos grandes
*.spec
__pycache__/
*.pyc

# En cambio, permitir que suba los assets de build/web
!build/web/assets/
!build/web/assets/**